:host ::ng-deep .p-button {
  background-color: #183a68;
}

:host ::ng-deep .p-button:hover {
  background-color: #d60673;
}

:host ::ng-deep .p-inputtext:hover {
  border-color: #183a68;
}

:host ::ng-deep .p-card-body {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0 2rem 0 2rem;
}

:host ::ng-deep .p-card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 300px;
  padding: 0;
}

#login-container {
  display: flex;
  justify-content: center;
}

#login-card-header {
  color: #183a68;
}

#login-card-input {
  width: 100%;
}

#login-card-footer {
  color: #183a68;
}
