<div id="login-container" *ngIf="!showSpinner">
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-card>
      <h1 id="login-card-header">Airline Info</h1>
      <input
        pInputText
        trim
        class="inputfield"
        formControlName="apiKey"
        id="login-card-input"
        placeholder="Please enter your API key..."
        type="text"
      />
      <p-button
        label="Submit"
        [disabled]="!form.valid"
        (onClick)="onSubmit()"
      ></p-button>
      <h6 id="login-card-footer">by Emmanouil Chondrakis</h6>
    </p-card>
  </form>
</div>

<div class="spinner-container" *ngIf="showSpinner">
  <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
</div>

<p-toast position="top-right"></p-toast>
