:host ::ng-deep .p-tabview-title {
  color: #183a68;
}

:host ::ng-deep .p-tabview-title:hover {
  color: #d60673;
}

#dashboard-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
