<p-tabView *ngIf="!showSpinner">
  <p-tabPanel header="Non MCT Routes">
    <p-table
      [value]="nonMctRoutesList"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">Route</th>
          <th style="width: 25%">PNR</th>
          <th style="width: 25%">Domestic Flight Number</th>
          <th style="width: 25%">Interline Flight Number</th>
          <th style="width: 25%">Time Difference In Minutes</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-nonMctRoute>
        <tr>
          <td>{{ nonMctRoute.route }}</td>
          <td>{{ nonMctRoute.pnr }}</td>
          <td>{{ nonMctRoute.domesticFlightNumber }}</td>
          <td>{{ nonMctRoute.interlineFlightNumber }}</td>
          <td>{{ nonMctRoute.timeDifferenceInMinutes }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Interline Carriers">
    <p-table
      [value]="interlineCarriersList"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">Bookings</th>
          <th style="width: 25%">Interline Operating Carrier</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interlineCarrier>
        <tr>
          <td>{{ interlineCarrier.bookings }}</td>
          <td>{{ interlineCarrier.interlineOperatingCarrier }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>

<div id="dashboard-footer" *ngIf="!showSpinner">
  <p-button
    label="Logout"
    styleClass="p-button-danger"
    (onClick)="logout()"
  ></p-button>
</div>

<div class="spinner-container" *ngIf="showSpinner">
  <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
</div>
