<p-tabView>
  <p-tabPanel header="Non MCT Routes">
    <p-table
      [value]="nonMctRoutesList"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">Route From</th>
          <th style="width: 25%">Route To</th>
          <th style="width: 25%">MCT Number</th>
          <th style="width: 25%">Airline</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-nonMctRoute>
        <tr>
          <td>{{ nonMctRoute.routeFrom }}</td>
          <td>{{ nonMctRoute.routeTo }}</td>
          <td>{{ nonMctRoute.mctNumber }}</td>
          <td>{{ nonMctRoute.airline }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Interline Carriers">
    <p-table
      [value]="interlineCarriersList"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">Route From</th>
          <th style="width: 25%">Route To</th>
          <th style="width: 25%">MCT Number</th>
          <th style="width: 25%">Airline</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interlineCarrier>
        <tr>
          <td>{{ interlineCarrier.name }}</td>
          <td>{{ interlineCarrier.bookings }}</td>
          <td>{{ interlineCarrier.hq }}</td>
          <td>{{ interlineCarrier.planeId }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>

<div id="dashboard-footer">
  <p-button
    label="Logout"
    styleClass="p-button-danger"
    (onClick)="logout()"
  ></p-button>
</div>
